{{ partial "header-with-nav.html" . }}

<!--================================
=            Page Title            =
=================================-->

<section class="section page-title">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 m-auto">
				<!-- Page Title -->
				<h1>Consulting</h1>
				<!-- Page Description -->
				<p>Our consulting service is focused on delivering immediate value. With decades of technical expertise, we help you implement high quality, practical solutions to your enterprise problems. Our mentoring methodology involves key personnel from the beginning, enabling your team to operate and enhance the functionality long after the enagagement.</p>
			</div>
		</div>
	</div>
</section>

<section class="services section bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 align-self-center">
                <!-- Service 01 -->
                <div class="service-block shadow">
                    <!-- Icon -->
                    <i class="tf-laptop"></i>
                    <h3>Development Support</h3>
                    <p>In a time crunch and need to staff up your project? We are proficient in Java, Groovy, Golang and their corresponding ecosystems and frameworks.</p>
                </div>
                <!-- Service 02 -->
                <div class="service-block shadow">
                    <!-- Icon -->
                    <i class="tf-recycle2"></i>
                    <h3>Continuous Integration/Delivery</h3>
                    <p>We work with teams to implement delivery pipelines by applying CI/CD principles and practices tailored to your business domain processes.</p>
                </div>
                <div class="service-block shadow">
                    <!-- Icon -->
                    <i class="tf-layers"></i>
                    <h3>Cloud-Native Transformations</h3>
                    <p>We help with planning and streamlining your move to the cloud for easier application management, and lowering your operational expenses.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 align-self-center">
                <!-- Service 03 -->
                <div class="service-block shadow">
                    <!-- Icon -->
                    <i class="tf-beaker"></i>
                    <h3>Testing Strategies</h3>
                    <p>Testing is an essential contributor to delivering robust and stable software. We can advise on the adoption of test methodologies and tools.</p>
                </div>
                <!-- Service 04 -->
                <div class="service-block shadow">
                    <!-- Icon -->
                    <i class="tf-gears"></i>
                    <h3>Project Automation</h3>
                    <p>A reproducible, resilient delivery process is key to shipping software fast and frequently. We are experts in industry standard build automation tools.</p>
                </div>
                <div class="service-block shadow">
                    <!-- Icon -->
                    <i class="tf-layers"></i>
                    <h3>Container Solutions</h3>
                    <p>Accelerate the adoption of DevOps and deliver services faster in your organization by employing containers. We can help you get started!</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 align-self-center">
                <!-- Service 05 -->
                <div class="service-block shadow">
                    <!-- Icon -->
                    <i class="tf-ion-ios-color-filter-outline"></i>
                    <h3>Microservices Strategy</h3>
                    <p>A microservices can lead to more scalable, and cost-effective architecture. We can help with the strategy, design, and implementation.</p>
                </div>
                <!-- Service 06 -->
                <div class="service-block shadow">
                    <!-- Icon -->
                    <i class="tf-puzzle"></i>
                    <h3>Build Tool Plugin Development</h3>
                    <p>Automation processes rarely follow a one-size-fits-all solution. Speed up the implementation of custom build logic via Maven or Gradle plugins, and Bazel rules.</p>
                </div>
                <div class="service-block shadow">
                    <!-- Icon -->
                    <i class="tf-shield2"></i>
                    <h3>DevSecOps</h3>
                    <p>Ensure that automation improves both development and security by employing tools and technologies to identify high-risk threats to your enterprise.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--====  End of Page Title  ====-->

{{ partial "call-to-action.html" . }}

<!--============================
=            Footer            =
=============================-->

{{ partial "footer.html" . }}