{{ partial "header-with-nav.html" . }}

<!--================================
=            Page Title            =
=================================-->

<section class="section page-title">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 m-auto">
				<!-- Page Title -->
				<h1>Training</h1>
				<!-- Page Description -->
				<p>Our professional trainings facilitate an engaging, effective and hands-on approach to knowledge transfer. We improve the productivity of your software development teams by delivering curated and relevant information as standardized or customized curricula to meet your project needs.</p>
			</div>
		</div>
	</div>
</section>

<section class="services section bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 align-self-center">
                <!-- Service 01 -->
                <div class="service-block shadow">
                    <!-- Icon -->
                    <i class="tf-presentation"></i>
                    <h3>Instructor-Led Training</h3>
                    <p>We love sharing our knowledge with others. Our team has years of experience with delivering trainings online or on-site and are regular speakers at conferences.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 align-self-center">
                <!-- Service 03 -->
                <div class="service-block shadow">
                    <!-- Icon -->
                    <i class="tf-adjustments"></i>
                    <h3>Custom Curriculums</h3>
                    <p>Outline specific learning goals and leverage our expertise to get your team up to speed. You are in control of the content and the duration of the training.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 align-self-center">
                <!-- Service 05 -->
                <div class="service-block shadow">
                    <!-- Icon -->
                    <i class="tf-video"></i>
                    <h3>Self-Paced Learning</h3>
                    <p>Move at a speed that is comfortable for you. We can help with designing and developing video-based or self-guided learning solutions.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--====  End of Page Title  ====-->

{{ partial "call-to-action.html" . }}

<!--============================
=            Footer            =
=============================-->

{{ partial "footer.html" . }}