{{ partial "header-with-nav.html" . }}

<!--================================
=            Page Title            =
=================================-->

<section class="section page-title">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 m-auto">
				<!-- Page Title -->
				<h1>Training</h1>
				<!-- Page Description -->
				<p>Our professional trainings facilitate an engaging, effective and hands-on approach to knowledge transfer. We improve the productivity of your software development teams by delivering curated and relevant information as standardized or customized curricula to meet your project needs.</p>
			</div>
		</div>
	</div>
</section>

<section class="services section bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 align-self-center">
                <!-- Service 01 -->
                <div class="service-block shadow">
                    <!-- Icon -->
                    <i class="tf-presentation"></i>
                    <h3>Instructor-Led Training</h3>
                    <p>We love sharing our knowledge with others. Our team has years of experience with delivering trainings online or on-site and are regular speakers at conferences.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 align-self-center">
                <!-- Service 03 -->
                <div class="service-block shadow">
                    <!-- Icon -->
                    <i class="tf-adjustments"></i>
                    <h3>Custom Curriculums</h3>
                    <p>Outline specific learning goals and leverage our expertise to get your team up to speed. You are in control of the content and the duration of the training.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 align-self-center">
                <!-- Service 05 -->
                <div class="service-block shadow">
                    <!-- Icon -->
                    <i class="tf-video"></i>
                    <h3>Self-Paced Learning</h3>
                    <p>Move at a speed that is comfortable for you. We can help with designing and developing video-based or self-guided learning solutions.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--===============================
=          Training List          =
================================-->

<section class="training-list section bg-gray">
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-10 m-auto">
				<div class="block">
					<div class="title text-center">
                        <h2>Available Instructor-Led Trainings</h2>
					</div>
					<div class="training">
						<div class="content">
							<h3>Gradle builds with the Kotlin DSL</h3>
                            <p>Implementing type-safe, developer-friendly automation code in Gradle</p>
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="tf-ion-android-time"></i></li>
                                <li class="list-inline-item">Duration: 4 hrs</li>
                                <li class="list-inline-item spacer"><i class="tf-ion-connection-bars"></i></li>
								<li class="list-inline-item">Skill Level: Beginner</li>
							</ul>
						</div>
						<div class="apply-button">
                            <a href="/services/training/gradle-kotlin-dsl/" class="btn btn-main-md">View Details</a>
                        </div>
                    </div>
                    <div class="training">
                        <div class="content">
                            <h3>In-depth Gradle plugin development</h3>
                            <p>Writing and distributing reusable, maintainable and tested build logic</p>
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="tf-ion-android-time"></i></li>
                                <li class="list-inline-item">Duration: 8 hrs</li>
                                <li class="list-inline-item spacer"><i class="tf-ion-connection-bars"></i></li>
                                <li class="list-inline-item">Skill Level: Intermediate</li>
                            </ul>
                        </div>
                        <div class="apply-button">
                            <a href="/services/training/gradle-plugin-development/" class="btn btn-main-md">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
		</div>
    </div>
</section>

<!--====  End of Training List  ====-->

<!--====  End of Page Title  ====-->

{{ partial "call-to-action.html" . }}

<!--============================
=            Footer            =
=============================-->

{{ partial "footer.html" . }}