{{ partial "header-with-nav.html" . }}

<!--================================
=            Page Title            =
=================================-->

<section class="section page-title">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 m-auto">
				<!-- Page Title -->
				<h1>Training</h1>
				<!-- Page Description -->
				<p>Our professional trainings facilitate an engaging, effective and hands-on approach to knowledge transfer. We improve the productivity of your software development teams by delivering curated and relevant information as standardized or customized curricula to meet your project needs.</p>
			</div>
		</div>
	</div>
</section>

<section class="services section bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 align-self-center">
                <!-- Service 01 -->
                <div class="service-block shadow">
                    <!-- Icon -->
                    <i class="tf-presentation"></i>
                    <h3>Instructor-Led Training</h3>
                    <p>We love sharing our knowledge with others. Our team has years of experience with delivering trainings online or on-site and are regular speakers at conferences.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 align-self-center">
                <!-- Service 03 -->
                <div class="service-block shadow">
                    <!-- Icon -->
                    <i class="tf-adjustments"></i>
                    <h3>Custom Curriculums</h3>
                    <p>Outline specific learning goals and leverage our expertise to get your team up to speed. You are in control of the content and the duration of the training.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 align-self-center">
                <!-- Service 05 -->
                <div class="service-block shadow">
                    <!-- Icon -->
                    <i class="tf-video"></i>
                    <h3>Self-Paced Learning</h3>
                    <p>Move at a speed that is comfortable for you. We can help with designing and developing video-based or self-guided learning solutions.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--===============================
=          Training List          =
================================-->

<section class="training-list section bg-gray">
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-10 m-auto">
				<div class="block">
					<div class="title text-center">
                        <div class="logo"><img src="{{ "images/services/training/oreilly-logo.svg" | absURL }}" alt="O'Reilly Media Logo"></div>
                        <h2>Live Online Trainings</h2>
                    </div>
                    <div class="training">
                        <div class="content">
                            <h3>HashiCorp Certified: Vault Associate Certification Crash Course</h3>
                            <p>This practical course is designed to walk you through all the topics covered in the exam to fully prepare to pass the certification exam</p>
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="tf-ion-android-time"></i></li>
                                <li class="list-inline-item">Duration: 8 hrs</li>
                                <li class="list-inline-item spacer"><i class="tf-ion-connection-bars"></i></li>
                                <li class="list-inline-item">Skill Level: Beginner</li>
                            </ul>
                        </div>
                        <div class="apply-button">
                            <a href="https://learning.oreilly.com/live-events/hashicorp-certified-vault-associate-certification-crash-course/0636920081502/0636920081501/" class="btn btn-main-md">View Details</a>
                        </div>
                    </div>
                    <div class="training">
                        <div class="content">
                            <h3>HashiCorp Certified: Terraform Associate Certification Crash Course</h3>
                            <p>This practical course is designed to walk you through all the topics covered in the exam to fully prepare to pass the certification exam</p>
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="tf-ion-android-time"></i></li>
                                <li class="list-inline-item">Duration: 8 hrs</li>
                                <li class="list-inline-item spacer"><i class="tf-ion-connection-bars"></i></li>
                                <li class="list-inline-item">Skill Level: Beginner</li>
                            </ul>
                        </div>
                        <div class="apply-button">
                            <a href="https://learning.oreilly.com/live-events/hashicorp-certified-terraform-associate-certification-crash-course/0636920072267/0636920079626/" class="btn btn-main-md">View Details</a>
                        </div>
                    </div>
                    <div class="training">
                        <div class="content">
                            <h3>Getting Started With Bazel</h3>
                            <p>An introduction to automated builds for Java-based projects</p>
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="tf-ion-android-time"></i></li>
                                <li class="list-inline-item">Duration: 2 hrs</li>
                                <li class="list-inline-item spacer"><i class="tf-ion-connection-bars"></i></li>
                                <li class="list-inline-item">Skill Level: Beginner</li>
                            </ul>
                        </div>
                        <div class="apply-button">
                            <a href="https://learning.oreilly.com/live-events/getting-started-with-bazel/0636920063107/0636920080360/" class="btn btn-main-md">View Details</a>
                        </div>
                    </div>
                    <div class="training">
                        <div class="content">
                            <h3>Integration Testing with Docker and Testcontainers</h3>
                            <p>This hands-on course teaches you how to use Testcontainers for integration testing</p>
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="tf-ion-android-time"></i></li>
                                <li class="list-inline-item">Duration: 3 hrs</li>
                                <li class="list-inline-item spacer"><i class="tf-ion-connection-bars"></i></li>
                                <li class="list-inline-item">Skill Level: Intermediate</li>
                            </ul>
                        </div>
                        <div class="apply-button">
                            <a href="https://learning.oreilly.com/live-events/integration-testing-with-docker-and-testcontainers/0636920063105/0636920082107/" class="btn btn-main-md">View Details</a>
                        </div>
                    </div>
                    <div class="training">
                        <div class="content">
                            <h3>Certified Jenkins Engineer (CJE) Crash Course</h3>
                            <p>This practical course is designed to walk you through all the topics covered in the exam to fully prepare to pass the certification exam</p>
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="tf-ion-android-time"></i></li>
                                <li class="list-inline-item">Duration: 8 hrs</li>
                                <li class="list-inline-item spacer"><i class="tf-ion-connection-bars"></i></li>
                                <li class="list-inline-item">Skill Level: Beginner</li>
                            </ul>
                        </div>
                        <div class="apply-button">
                            <a href="https://learning.oreilly.com/live-training/courses/certified-jenkins-engineer-cje-crash-course/0636920463955/" class="btn btn-main-md">View Details</a>
                        </div>
                    </div>
                    <div class="training">
                        <div class="content">
                            <h3>Certified Kubernetes Administrator (CKA) Crash Course</h3>
                            <p>This practical course is designed to walk you through all the topics covered in the exam to fully prepare to pass the certification exam</p>
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="tf-ion-android-time"></i></li>
                                <li class="list-inline-item">Duration: 8 hrs</li>
                                <li class="list-inline-item spacer"><i class="tf-ion-connection-bars"></i></li>
                                <li class="list-inline-item">Skill Level: Intermediate</li>
                            </ul>
                        </div>
                        <div class="apply-button">
                            <a href="https://learning.oreilly.com/live-events/certified-kubernetes-administrator-cka-exam-prep/0636920459743/0636920083855/" class="btn btn-main-md">View Details</a>
                        </div>
                    </div>
                    <div class="training">
                        <div class="content">
                            <h3>Certified Kubernetes Application Developer (CKAD) Crash Course</h3>
                            <p>This practical course is designed to walk you through all the topics covered in the exam to fully prepare to pass the certification exam</p>
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="tf-ion-android-time"></i></li>
                                <li class="list-inline-item">Duration: 8 hrs</li>
                                <li class="list-inline-item spacer"><i class="tf-ion-connection-bars"></i></li>
                                <li class="list-inline-item">Skill Level: Intermediate</li>
                            </ul>
                        </div>
                        <div class="apply-button">
                            <a href="https://learning.oreilly.com/live-events/certified-kubernetes-application-developer-crash-course-ckad/0636920329183/0636920083911/" class="btn btn-main-md">View Details</a>
                        </div>
                    </div>
                    <div class="training">
                        <div class="content">
                            <h3>Certified Kubernetes Security Specialist (CKS) Crash Course</h3>
                            <p>This practical course is designed to walk you through all the topics covered in the exam to fully prepare to pass the certification exam</p>
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="tf-ion-android-time"></i></li>
                                <li class="list-inline-item">Duration: 8 hrs</li>
                                <li class="list-inline-item spacer"><i class="tf-ion-connection-bars"></i></li>
                                <li class="list-inline-item">Skill Level: Advanced</li>
                            </ul>
                        </div>
                        <div class="apply-button">
                            <a href="https://learning.oreilly.com/live-events/certified-kubernetes-security-specialist-cks-crash-course/0636920072272/0636920079632/" class="btn btn-main-md">View Details</a>
                        </div>
                    </div>
                    <div class="training">
                        <div class="content">
                            <h3>Practical Go Modules</h3>
                            <p>Learn to use Go Modules by applying its concepts with the help of hands-on examples</p>
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="tf-ion-android-time"></i></li>
                                <li class="list-inline-item">Duration: 4 hrs</li>
                                <li class="list-inline-item spacer"><i class="tf-ion-connection-bars"></i></li>
                                <li class="list-inline-item">Skill Level: Intermediate</li>
                            </ul>
                        </div>
                        <div class="apply-button">
                            <a href="https://learning.oreilly.com/live-training/courses/practical-go-modules/0636920052190/" class="btn btn-main-md">View Details</a>
                        </div>
                    </div>
                    <div class="training">
                        <div class="content">
                            <h3>Testing Go Projects</h3>
                            <p>Techniques for testing real-world Go applications from the ground up</p>
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="tf-ion-android-time"></i></li>
                                <li class="list-inline-item">Duration: 4 hrs</li>
                                <li class="list-inline-item spacer"><i class="tf-ion-connection-bars"></i></li>
                                <li class="list-inline-item">Skill Level: Intermediate</li>
                            </ul>
                        </div>
                        <div class="apply-button">
                            <a href="https://learning.oreilly.com/live-training/courses/testing-go-projects/0636920052204/" class="btn btn-main-md">View Details</a>
                        </div>
                    </div>
                    <div class="training">
                        <div class="content">
                            <h3>Automating Go Projects</h3>
                            <p>Learn to use Go automation tools for package management, testing, Continuous Integration, and IDE integration</p>
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="tf-ion-android-time"></i></li>
                                <li class="list-inline-item">Duration: 3 hrs</li>
                                <li class="list-inline-item spacer"><i class="tf-ion-connection-bars"></i></li>
                                <li class="list-inline-item">Skill Level: Beginner</li>
                            </ul>
                        </div>
                        <div class="apply-button">
                            <a href="https://learning.oreilly.com/live-training/courses/continuous-delivery-and-tooling-in-go/0636920302810/" class="btn btn-main-md">View Details</a>
                        </div>
                    </div>
                    <div class="training">
                        <div class="content">
                            <h3>Docker for JVM projects</h3>
                            <p>End-to-end automation workflows for containerized Java applications with Docker</p>
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="tf-ion-android-time"></i></li>
                                <li class="list-inline-item">Duration: 4 hrs</li>
                                <li class="list-inline-item spacer"><i class="tf-ion-connection-bars"></i></li>
                                <li class="list-inline-item">Skill Level: Beginner</li>
                            </ul>
                        </div>
                        <div class="apply-button">
                            <a href="https://learning.oreilly.com/live-training/courses/docker-for-jvm-projects/0636920052168/" class="btn btn-main-md">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
		</div>
    </div>
</section>

<section class="training-list section bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-10 m-auto">
                <div class="block">
                    <div class="title text-center">
                        <div class="logo"><img src="{{ "images/services/training/oreilly-logo.svg" | absURL }}" alt="O'Reilly Media Logo"></div>
                        <h2>Video Trainings</h2>
                    </div>
                    <div class="training">
                        <div class="content">
                            <h3>Certified Jenkins Engineer (CJE) Prep Course</h3>
                            <p>Learn the basic concepts and advanced features covered by the <a href="https://www.cloudbees.com/jenkins/jenkins-certification/">CJE certification exam</a></p>
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="tf-ion-android-time"></i></li>
                                <li class="list-inline-item">Duration: 10 hrs</li>
                                <li class="list-inline-item spacer"><i class="tf-ion-connection-bars"></i></li>
                                <li class="list-inline-item">Skill Level: Beginner</li>
                            </ul>
                        </div>
                        <div class="apply-button">
                            <a href="https://learning.oreilly.com/videos/certified-jenkins-engineer/0636920305965/" class="btn btn-main-md">View Details</a>
                        </div>
                    </div>
                    <div class="training">
                        <div class="content">
                            <h3>Certified Kubernetes Application Developer (CKAD) Prep Course</h3>
                            <p>Learn about the ins and outs required to pass the <a href="https://www.cncf.io/certification/ckad/">CKAD certification exam</a></p>
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="tf-ion-android-time"></i></li>
                                <li class="list-inline-item">Duration: 5 hrs</li>
                                <li class="list-inline-item spacer"><i class="tf-ion-connection-bars"></i></li>
                                <li class="list-inline-item">Skill Level: Intermediate</li>
                            </ul>
                        </div>
                        <div class="apply-button">
                            <a href="https://learning.oreilly.com/videos/certified-kubernetes-application/9781492061045/" class="btn btn-main-md">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
		</div>
    </div>
</section>

<section class="training-list section bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-10 m-auto">
                <div class="block">
                    <div class="title text-center">
                        <div class="logo"><img src="{{ "images/services/training/linkedin-learning-logo.svg" | absURL }}" alt="O'Reilly Media Logo"></div>
                        <h2>Video Trainings</h2>
                    </div>
                    <div class="training">
                        <div class="content">
                            <h3>Gradle for Java-Based Applications and Libraries</h3>
                            <p>Gradle makes building and testing Java programs easy with its compelling feature set. This course teaches the typical tasks needed to work with a Java project.</p>
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="tf-ion-android-time"></i></li>
                                <li class="list-inline-item">Duration: 1 hr</li>
                                <li class="list-inline-item spacer"><i class="tf-ion-connection-bars"></i></li>
                                <li class="list-inline-item">Skill Level: Intermediate</li>
                            </ul>
                        </div>
                        <div class="apply-button">
                            <a href="https://www.linkedin.com/learning/gradle-for-java-based-applications-and-libraries" class="btn btn-main-md">View Details</a>
                        </div>
                    </div>
                    <div class="training">
                        <div class="content">
                            <h3>Learning Gradle</h3>
                            <p>Busy developers need ways to automate! This course teaches core concepts and building blocks of using Gradle, an open-source build automation tool.</p>
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="tf-ion-android-time"></i></li>
                                <li class="list-inline-item">Duration: 1 hr</li>
                                <li class="list-inline-item spacer"><i class="tf-ion-connection-bars"></i></li>
                                <li class="list-inline-item">Skill Level: Beginner</li>
                            </ul>
                        </div>
                        <div class="apply-button">
                            <a href="https://www.linkedin.com/learning/learning-gradle" class="btn btn-main-md">View Details</a>
                        </div>
                    </div>
                    <div class="training">
                        <div class="content">
                            <h3>Certified Kubernetes Application Developer (CKAD) Cert Prep: Exam Tips</h3>
                            <p>Covers a high-level overview on the concepts covered by the test as well as study tips for acing the CKAD exam</p>
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="tf-ion-android-time"></i></li>
                                <li class="list-inline-item">Duration: 1/2 hr</li>
                                <li class="list-inline-item spacer"><i class="tf-ion-connection-bars"></i></li>
                                <li class="list-inline-item">Skill Level: Beginner</li>
                            </ul>
                        </div>
                        <div class="apply-button">
                            <a href="https://www.linkedin.com/learning/certified-kubernetes-application-developer-ckad-cert-prep-exam-tips" class="btn btn-main-md">View Details</a>
                        </div>
                    </div>
                    <div class="training">
                        <div class="content">
                            <h3>Learning Groovy</h3>
                            <p>Learn the basics of Groovy and more advanced concepts, including using closures, working with collections, and reading and writing files</p>
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="tf-ion-android-time"></i></li>
                                <li class="list-inline-item">Duration: 1 hr</li>
                                <li class="list-inline-item spacer"><i class="tf-ion-connection-bars"></i></li>
                                <li class="list-inline-item">Skill Level: Beginner</li>
                            </ul>
                        </div>
                        <div class="apply-button">
                            <a href="https://www.linkedin.com/learning/learning-groovy" class="btn btn-main-md">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
		</div>
    </div>
</section>

<section class="training-list section bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-10 m-auto">
                <div class="block">
                    <div class="title text-center">
                        <div class="logo"><img src="{{ "images/services/training/udemy-logo.svg" | absURL }}" alt="Udemy Media Logo"></div>
                        <h2>Video Trainings</h2>
                    </div>
                    <div class="training">
                        <div class="content">
                            <h3>GitHub Actions Certification Practice Exam</h3>
                            <p>Earn your GitHub Actions certification with 240 questions with detailed explanations</p>
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="tf-ion-android-time"></i></li>
                                <li class="list-inline-item">Duration: 120 mins</li>
                                <li class="list-inline-item spacer"><i class="tf-ion-connection-bars"></i></li>
                                <li class="list-inline-item">Skill Level: Intermediate</li>
                            </ul>
                        </div>
                        <div class="apply-button">
                            <a href="https://www.udemy.com/course/github-actions-certification-practice-exam/" class="btn btn-main-md">View Details</a>
                        </div>
                    </div>
                    <div class="training">
                        <div class="content">
                            <h3>Certified Jenkins Engineer (CJE) Practice Exam 2023</h3>
                            <p>Earn your Certified Jenkins Engineer with 240 questions with detailed explanations - up to date for 2023 curriculum.</p>
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="tf-ion-android-time"></i></li>
                                <li class="list-inline-item">Duration: 90 mins</li>
                                <li class="list-inline-item spacer"><i class="tf-ion-connection-bars"></i></li>
                                <li class="list-inline-item">Skill Level: Beginner</li>
                            </ul>
                        </div>
                        <div class="apply-button">
                            <a href="https://www.udemy.com/course/certified-jenkins-engineer-practice-exam/" class="btn btn-main-md">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--====  End of Training List  ====-->

<!--====  End of Page Title  ====-->

{{ partial "call-to-action.html" . }}

<!--============================
=            Footer            =
=============================-->

{{ partial "footer.html" . }}