{{ partial "header-with-nav.html" . }}

<!--================================
=            Page Title            =
=================================-->

<section class="section page-title">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 m-auto">
				<!-- Page Title -->
				<h1>About Us</h1>
				<!-- Page Description -->
				<p>Automated Ascent is a boutique technology consultancy that delivers software solutions to help our customers succeed. We specialize in the areas of project automation, containers and Continuous Delivery. Through our unique mentoring methodology, we will train and guide your team on the best practices for building flexible and efficient software.</p>
			</div>
		</div>
	</div>
</section>

<!--====  End of Page Title  ====-->

<!--==================================
=            Feature Team            =
===================================-->

<section class="founders section bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 ml-auto align-self-center">
                <!-- Featured Member -->
                <div class="founder">
                    <!-- Member Image -->
                    <!-- Name -->
                    <h1>Benjamin Muschko</h1>
                    <!-- position -->
                    <cite>Founder</cite>
                    <!-- Description -->
                    <p>Benjamin Muschko is a software engineer, consultant, and trainer with more than 20 years of experience in the industry. He's passionate about project automation, testing, and continuous delivery. Ben is an author, a frequent speaker at conferences, and an avid open source advocate.</p>
                    <!-- Social Sites -->
                    <ul class="list-inline social-links">
                        <li class="list-inline-item"><a href="https://twitter.com/bmuschko/" target="_blank"><i class="tf-ion-social-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="https://github.com/bmuschko/" target="_blank"><i class="tf-ion-social-github"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/benjaminmuschko/" target="_blank"><i class="tf-ion-social-linkedin"></i></a></li>
                        <li class="list-inline-item"><a href="https://bmuschko.com/" target="_blank"><i class="tf-ion-social-rss"></i></a></li>
                    </ul>
                </div>
                <div class="certifications">
                    <ul class="list-inline social-links">
                        <li class="list-inline-item"><a href="https://www.credly.com/badges/9a599e63-6155-422e-b169-8eaaed5369ab" target="_blank"><img class="img-fluid" src="{{ "images/about/cka-badge.png" | absURL }}" alt="Certified Kubernetes Administrator" title="Certified Kubernetes Administrator" style="width:70px;height:auto"></a></li>
                        <li class="list-inline-item"><a href="https://www.credly.com/badges/98ba0895-b669-47d5-8206-50b7223940e3" target="_blank"><img class="img-fluid" src="{{ "images/about/ckad-badge.png" | absURL }}" alt="Certified Kubernetes Application Developer" title="Certified Kubernetes Application Developer" style="width:70px;height:auto"></a></li>
                        <li class="list-inline-item"><a href="https://www.credly.com/earner/earned/badge/d571af1f-3557-4170-977f-84c0dd4d1c7a" target="_blank"><img class="img-fluid" src="{{ "images/about/tca-badge.png" | absURL }}" alt="HashiCorp Certified: Terraform Associate" title="HashiCorp Certified: Terraform Associate" style="width:65px;height:auto"></a></li>
                        <li class="list-inline-item"><a href="https://certificates.cloudbees.com/bisl3tzf" target="_blank"><img class="img-fluid" src="{{ "images/about/cje-badge.png" | absURL }}" alt="Certified Jenkins Engineer" title="Certified Jenkins Engineer" style="width:70px;height:auto"></a></li>
                        <li class="list-inline-item"><img class="img-fluid" src="{{ "images/about/sun-certified-badge.jpg" | absURL }}" alt="Sun Certified Java" title="Sun Certified Java" style="width:70px;height:auto"></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 mr-auto justify-content-center">
                <!-- Feature mockup -->
                <div class="image-content">
                    <div class="founder">
                        <img class="img-fluid" src="{{ "images/about/ben-profile.jpg" | absURL }}" alt="featured-member">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{ partial "books.html" . }}

<!--====  End of Feature Team  ====-->

{{ partial "call-to-action.html" . }}

<!--============================
=            Footer            =
=============================-->

{{ partial "footer.html" . }}