{{ partial "header-with-nav.html" . }}

<!--================================
=            Page Title            =
=================================-->

<section class="section page-title">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 m-auto">
				<!-- Page Title -->
				<h1>About Us</h1>
				<!-- Page Description -->
				<p>Automated Ascent is a boutique technology consultancy that delivers software solutions to help our customers succeed. We specialize in the areas of project automation, containers and Continuous Delivery. Through our unique mentoring methodology, we will train and guide your team on the best practices for building flexible and efficient software.</p>
			</div>
		</div>
	</div>
</section>

<!--====  End of Page Title  ====-->

<!--==================================
=            Feature Team            =
===================================-->

<section class="founders section bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 ml-auto align-self-center">
                <!-- Featured Member -->
                <div class="founder">
                    <!-- Member Image -->
                    <!-- Name -->
                    <h1>Benjamin Muschko</h1>
                    <!-- position -->
                    <cite>Founder</cite>
                    <!-- Description -->
                    <p>Benjamin Muschko is a software engineer on the JVM, consultant and trainer with over 15 years of experience in the industry. He’s passionate about project automation, testing and Continuous Delivery. Ben is the author of <i><a href="#books" class="scrollTo">Gradle in Action,</a></i> published by Manning Publications. He is a frequent speaker at conferences and is an avid Open Source advocate.</p>
                    <!-- Social Sites -->
                    <ul class="list-inline social-links">
                        <li class="list-inline-item"><a href="https://twitter.com/bmuschko/" target="_blank"><i class="tf-ion-social-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="https://github.com/bmuschko/" target="_blank"><i class="tf-ion-social-github"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/benjaminmuschko/" target="_blank"><i class="tf-ion-social-linkedin"></i></a></li>
                        <li class="list-inline-item"><a href="https://bmuschko.com/" target="_blank"><i class="tf-ion-social-rss"></i></a></li>
                    </ul>
                </div>
                <div class="certifications">
                    <ul class="list-inline social-links">
                        <li class="list-inline-item"><a href="https://www.youracclaim.com/badges/027f5e55-5e7d-4113-bd62-9414fb09c277" target="_blank"><img class="img-fluid" src="{{ "images/about/ckad-badge.png" | absURL }}" alt="Certified Kubernetes Application Developer" style="width:70px;height:auto"></a></li>
                        <li class="list-inline-item"><a href="https://certificates.cloudbees.com/bisl3tzf" target="_blank"><img class="img-fluid" src="{{ "images/about/cje-badge.png" | absURL }}" alt="Certified Jenkins Engineer" style="width:70px;height:auto"></a></li>
                        <li class="list-inline-item"><a href="https://www.oracle.com/technetwork/topics/newtojava/certification-140469.html" target="_blank"><img class="img-fluid" src="{{ "images/about/sun-certified-badge.jpg" | absURL }}" alt="Sun Certified Java" style="width:70px;height:auto"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 mr-auto justify-content-center">
                <!-- Feature mockup -->
                <div class="image-content">
                    <div class="founder">
                        <img class="img-fluid" src="{{ "images/about/ben-profile.jpg" | absURL }}" alt="featured-member">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<a id="books"></a>
<section class="feature section">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 ml-auto justify-content-center">
				<!-- Feature Mockup -->
				<div class="image-content">
					<a href="https://learning.oreilly.com/library/view/whats-new-in/9781492047575/" target="_blank"><img class="img-fluid" src="{{ "images/about/whats-new-in-java-11.jpg" | absURL }}" alt="What's New in Java 11?" style="width:280px;height:auto"></a>
				</div>
			</div>
			<div class="col-lg-6 mr-auto align-self-center">
				<div class="feature-content">
					<!-- Feature Title -->
					<h2>What's New in Java 11?</h2>
					<!-- Feature Description -->
					<p class="desc">The Java release train is moving faster than ever. Beginning with Java 9 in 2017, the platform’s one-to-three year release cycle accelerated to every six months, ensuring that timely new features and fixes would reach developers quickly. But as this ebook explains, Java 11 is more than just another incremental release.</p>
                    <p class="desc"><a href="https://learning.oreilly.com/library/view/whats-new-in/9781492047575/" target="_blank"><i>This quick start reference</i></a> examines the many changes in Java 11, including several new features and the removal or deprecation of some older ones. You’ll also learn the intricate differences between the Oracle JDK and other open source JDK distributions when it comes to licensing terms and patch update availability.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="feature section">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 ml-auto justify-content-center">
				<!-- Feature Mockup -->
				<div class="image-content">
					<a href="https://www.manning.com/books/gradle-in-action?a_aid=bmuschko&a_bid=e6c443b6" target="_blank"><img class="img-fluid" src="{{ "images/about/gradle-in-action.jpg" | absURL }}" alt="Gradle in Action"></a>
				</div>
			</div>
			<div class="col-lg-6 mr-auto align-self-center">
				<div class="feature-content">
					<!-- Feature Title -->
					<h2>Gradle in Action</h2>
					<!-- Feature Description -->
					<p class="desc"><a href="https://www.manning.com/books/gradle-in-action?a_aid=bmuschko&a_bid=e6c443b6" target="_blank"><i>Gradle in Action</i></a> is a comprehensive guide to end-to-end project automation with Gradle. Starting with the basics, this practical, easy-to-read book discusses how to build a full-fledged, real-world project. Along the way, it touches on advanced topics like testing, continuous integration, and monitoring code quality. You'll also explore tasks like setting up your target environment and deploying your software.</p>
				</div>
				<!-- Testimonial Quote -->
				<div class="testimonial">
					<p>
						"The best Gradle reference ever! Full of real-world examples."
					</p>
					<ul class="list-inline meta">
						<li class="list-inline-item">Wellington R. Pinheiro, Walmart eCommerce Brazil</li>
					</ul>
				</div>
				<div class="testimonial">
					<p>
						"The missing book to help make Gradle accessible to any developer."
					</p>
					<ul class="list-inline meta">
						<li class="list-inline-item">Samuel Brown, Blackboard, Inc.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<!--====  End of Feature Team  ====-->

{{ partial "call-to-action.html" . }}

<!--============================
=            Footer            =
=============================-->

{{ partial "footer.html" . }}