<a id="books"></a>
<section class="feature section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 ml-auto justify-content-center">
                <!-- Feature Mockup -->
                <div class="image-content">
                    <a href="https://get.oreilly.com/ind_getting-started-with-bazel.html" target="_blank"><img class="img-fluid" src="{{ "images/about/getting-started-with-bazel.jpg" | absURL }}" alt="Getting Started with Bazel" style="width:280px;height:auto"></a>
                </div>
            </div>
            <div class="col-lg-6 mr-auto align-self-center">
                <div class="feature-content">
                    <!-- Feature Title -->
                    <h2>Getting Started with Bazel</h2>
                    <!-- Feature Description -->
                    <p class="desc">One of the newer players in the build tool field is Bazel, the open source variant of Google’s powerful internal build tool Blaze. After years of refinement, the first production-ready version, Bazel 1.0, was released in October 2019. Is this tool right for your organization? This report explores the use cases, features, and usability concerns of Bazel, including its benefits and shortcomings.</p>
                    <p class="desc"><a href="https://get.oreilly.com/ind_getting-started-with-bazel.html" target="_blank"><i>This quick start reference</i></a> uses concrete Java-based examples to give you a first taste of Bazel’s syntax and functionality. The report also covers advanced features like remote caching and execution. You’ll be able to determine hands-on if Bazel is a good fit for your organization and come away with the knowledge and resources to start using this versatile, polyglot build tool for your project.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="feature section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 ml-auto justify-content-center">
                <!-- Feature Mockup -->
                <div class="image-content">
                    <a href="http://shop.oreilly.com/product/0636920282594.do" target="_blank"><img class="img-fluid" src="{{ "images/about/whats-new-in-java-12.jpg" | absURL }}" alt="What's New in Java 12?" style="width:280px;height:auto"></a>
                </div>
            </div>
            <div class="col-lg-6 mr-auto align-self-center">
                <div class="feature-content">
                    <!-- Feature Title -->
                    <h2>What's New in Java 12?</h2>
                    <!-- Feature Description -->
                    <p class="desc">New Java releases continue to arrive at a rapid pace. The community now receives a new Java version with features and bug fixes about every two months. The latest edition of this ebook examines many added and removed items in Java 12, including a new preview feature that lets you try out functionality not yet ready for production.</p>
                    <p class="desc"><a href="http://shop.oreilly.com/product/0636920282594.do" target="_blank"><i>This quick start reference</i></a> uses code examples to explore new features such as the teeing collector, the string indentation and transformation APIs, and support for Unicode 11. With this ebook, you can determine whether it’s worthwhile to upgrade now or wait until the next Java release.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="feature section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 ml-auto justify-content-center">
                <!-- Feature Mockup -->
                <div class="image-content">
                    <a href="http://shop.oreilly.com/product/0636920232599.do" target="_blank"><img class="img-fluid" src="{{ "images/about/whats-new-in-java-11.jpg" | absURL }}" alt="What's New in Java 11?" style="width:280px;height:auto"></a>
                </div>
            </div>
            <div class="col-lg-6 mr-auto align-self-center">
                <div class="feature-content">
                    <!-- Feature Title -->
                    <h2>What's New in Java 11?</h2>
                    <!-- Feature Description -->
                    <p class="desc">The Java release train is moving faster than ever. Beginning with Java 9 in 2017, the platform’s one-to-three year release cycle accelerated to every six months, ensuring that timely new features and fixes would reach developers quickly. But as this ebook explains, Java 11 is more than just another incremental release.</p>
                    <p class="desc"><a href="http://shop.oreilly.com/product/0636920232599.do" target="_blank"><i>This quick start reference</i></a> examines the many changes in Java 11, including several new features and the removal or deprecation of some older ones. You’ll also learn the intricate differences between the Oracle JDK and other open source JDK distributions when it comes to licensing terms and patch update availability.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="feature section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 ml-auto justify-content-center">
                <!-- Feature Mockup -->
                <div class="image-content">
                    <a href="https://www.manning.com/books/gradle-in-action?a_aid=bmuschko&a_bid=e6c443b6" target="_blank"><img class="img-fluid" src="{{ "images/about/gradle-in-action.jpg" | absURL }}" alt="Gradle in Action"></a>
                </div>
            </div>
            <div class="col-lg-6 mr-auto align-self-center">
                <div class="feature-content">
                    <!-- Feature Title -->
                    <h2>Gradle in Action</h2>
                    <!-- Feature Description -->
                    <p class="desc"><a href="https://www.manning.com/books/gradle-in-action?a_aid=bmuschko&a_bid=e6c443b6" target="_blank"><i>Gradle in Action</i></a> is a comprehensive guide to end-to-end project automation with Gradle. Starting with the basics, this practical, easy-to-read book discusses how to build a full-fledged, real-world project. Along the way, it touches on advanced topics like testing, continuous integration, and monitoring code quality. You'll also explore tasks like setting up your target environment and deploying your software.</p>
                </div>
                <!-- Testimonial Quote -->
                <div class="testimonial">
                    <p>
                        "The best Gradle reference ever! Full of real-world examples."
                    </p>
                    <ul class="list-inline meta">
                        <li class="list-inline-item">Wellington R. Pinheiro, Walmart eCommerce Brazil</li>
                    </ul>
                </div>
                <div class="testimonial">
                    <p>
                        "The missing book to help make Gradle accessible to any developer."
                    </p>
                    <ul class="list-inline meta">
                        <li class="list-inline-item">Samuel Brown, Blackboard, Inc.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>