<!-- JAVASCRIPTS -->

<script src="{{ "plugins/jquery/jquery.js" | absURL }}"></script>
<script src="{{ "plugins/popper/popper.min.js" | absURL }}"></script>
<script src="{{ "plugins/bootstrap/js/bootstrap.min.js" | absURL }}"></script>
<script src="{{ "plugins/owl-carousel/owl.carousel.min.js" | absURL }}"></script>
<script src="{{ "plugins/fancybox/jquery.fancybox.min.js" | absURL }}"></script>
<script src="{{ "plugins/smoothscroll/SmoothScroll.min.js" | absURL }}"></script>
<script src="{{ "plugins/syotimer/jquery.syotimer.min.js" | absURL }}"></script>

<script src="{{ "js/custom.js" | absURL }}"></script>