{{ partial "header-with-nav.html" . }}

<!--================================
=            Page Title            =
=================================-->

<section class="section page-title">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 m-auto">
				<!-- Page Title -->
				<h1>Technical Writing</h1>
				<!-- Page Description -->
				<p>We offer technical writing support to communicate complex subject matter to end users in an engaging, approachable and immersive manner. Our service offerings include creating elaborate project documentation, developing self-directed learning experiences like tutorials or blog posts and implementing documentation toolchains. We pride ourselves on our attention to detail.</p>
			</div>
		</div>
	</div>
</section>

<section class="services section bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 align-self-center">
                <!-- Service 01 -->
                <div class="service-block shadow">
                    <!-- Icon -->
                    <i class="tf-tools"></i>
                    <h3>Content Creation</h3>
                    <p>We will work closely with product owners and engineers to produce high-quality, accurate and engaging technical documentation.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 align-self-center">
                <!-- Service 02 -->
                <div class="service-block shadow">
                    <!-- Icon -->
                    <i class="tf-search3"></i>
                    <h3>Documentation Review</h3>
                    <p>Need an extra eye on your existing documentation? We can provide review and guide you toward a more polished, inspiring product.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 align-self-center">
                <!-- Service 03 -->
                <div class="service-block shadow">
                    <!-- Icon -->
                    <i class="tf-tools-2"></i>
                    <h3>Documentation Tooling</h3>
                    <p>Developing and managing technical documentation as code can be hard. We implement documentation toolchains to enable the smooth adoption of DocOps.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--====  End of Page Title  ====-->

{{ partial "call-to-action.html" . }}

<!--============================
=            Footer            =
=============================-->

{{ partial "footer.html" . }}