{{ partial "header-with-nav.html" . }}

<!--==================================
=            Hero Section            =
===================================-->

<section class="section slider bg-blue">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 m-auto">
				<div class="block">
					<!-- Heading -->
					<h1><b>TAILORED SOFTWARE AND AUTOMATION SOLUTIONS</b></h1>
					<!-- Sub-heading -->
					<h3>We specialize in helping organizations become successful with project automation, containerization and Continuous Delivery.</h3>
					<div class="learn-more">
						<a href="#services" class="btn btn-learn-more scrollTo">
							Learn More
							<span class="tf-ion-arrow-down-c"></span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!--====  End of Hero Section  ====-->

<!--==================================
=            Feature Grid            =
===================================-->

<a id="services"></a>
<section class="feature section pt-0">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 ml-auto justify-content-center">
				<!-- Feature Mockup -->
                <div class="image-content index-image-left">
                    <img src="images/index/launch.svg" alt="consulting">
                </div>
			</div>
			<div class="col-lg-6 mr-auto align-self-center">
				<div class="feature-content">
					<!-- Feature Title -->
					<h2>Consulting</h2>
					<!-- Feature Description -->
					<p>Our consulting service is focused on delivering immediate value. With decades of technical expertise, we help you implement high quality, practical solutions to your enterprise problems. Our mentoring methodology involves key personnel from the beginning, enabling your team to operate and enhance the functionality long after the enagagement.</p>
                    <p>We can help with development support in different programming languages. We specialize in project automation, cloud-native application development and transformation, container solutions, DevSecOps, and Continuous Integration/Continuous Delivery implementations.</p>
                    <a href="/services/consulting/" class="btn btn-main-md">
                        Read More
                        <span class="tf-ion-arrow-right-c"></span>
                    </a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="feature section bg-gray">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 ml-auto align-self-center">
				<div class="feature-content">
					<!-- Feature Title -->
					<h2>Training</h2>
					<p>Our professional trainings facilitate an engaging, effective and hands-on approach to knowledge transfer. We improve the productivity of your software development teams by delivering curated and relevant information as standardized or customized curricula to meet your project needs.
                    <p>You choose your preferred delivery technique. We conduct courses in a classroom setting with a strong focus on interactive learning techniques. Want to go cost-effective? We are experienced in teaching online classes to a distributed audience.</p>
                    <a href="/services/training/" class="btn btn-main-md">
                        Read More
                        <span class="tf-ion-arrow-right-c"></span>
                    </a>
				</div>
			</div>
			<div class="col-lg-6 mr-auto justify-content-center">
				<!-- Feature mockup -->
				<div class="image-content index-image-right">
					<img class="img-fluid" src="images/index/video-presentation.svg" alt="training">
				</div>
			</div>
		</div>
	</div>
</section>

<section class="feature section">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 ml-auto justify-content-center">
				<!-- Feature Mockup -->
				<div class="image-content index-image-left">
					<img class="img-fluid" src="images/index/tools.svg" alt="technical writing">
				</div>
			</div>
			<div class="col-lg-6 mr-auto align-self-center">
				<div class="feature-content">
					<!-- Feature Title -->
					<h2>Technical Writing</h2>
					<!-- Feature Description -->
					<p>We offer technical writing support to communicate complex subject matter to end users in an engaging, approachable and immersive manner.</p>
                    <p>Our service offerings include creating elaborate project documentation, developing self-directed learning experiences like tutorials or blog posts and implementing documentation toolchains. We pride ourselves on our attention to detail.</p>
                    <a href="/services/tech-writing/" class="btn btn-main-md">
                        Read More
                        <span class="tf-ion-arrow-right-c"></span>
                    </a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section testimonial bg-gray" id="testimonial">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
                <div style="text-align: center; margin-bottom: 25px;"><h2>What Our Clients Say</h2></div>
				<div class="testimonial-slider owl-carousel owl-theme">
					<div class="item">
						<div class="block shadow">
							<p>
								Benjamin Muschko is a thought leader in the realm of Continuous Delivery. Ben delivered the mission critical build infrastructure for generating and publishing application pipelines for my organization. He taught our developers the discipline of "declarative deployments" to eliminate manual mistakes in software delivery. I would absolutely recommend Automated Ascent for businesses who want to take their CI/CD story to the next level.
							</p>
							<div class="image">
								<img src="images/testimonial/tony-drane-thumbnail.jpg" alt="image">
							</div>
							<cite>Tony Drane, Manager at Pure Storage</cite>
						</div>
					</div>
					<div class="item">
						<div class="block shadow">
							<p>
								Ben has been a trainer and author with O’Reilly for over 4 years now, and it is no exaggeration to say that among the dozens of highly talented, skilled trainers and authors I have had the privilege to work with, nobody has done any better work. Ben is consistently ahead of schedule, highly professional, and very effective as a trainer. His courses have consistent high attendance, and the attendee feedback for those courses is invariably very positive.
							</p>
							<div class="image">
								<img src="images/testimonial/john-devins-thumbnail.jpg" alt="image">
							</div>
							<cite>John Devins, Acquisitions Editor at O'Reilly Media</cite>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!--====  End of Feature Grid  ====-->

{{ partial "call-to-action.html" . }}

<!--============================
=            Footer            =
=============================-->

{{ partial "footer.html" . }}